<div class="container-fluid px-4 py-4">
  <h1 class="mb-4">Dashboard BI</h1>
  <!-- Statistics Cards (placeholder) -->
  <div class="row g-4 mb-4">
    <div class="col-md-12 text-center">
        <div class="powerbi-dashboard">
            <iframe title="INTENT HARVEST DASHBOARD 2"
                width="100%"
                height="550"
                src="https://app.powerbi.com/view?r=eyJrIjoiOTVlMjllYWEtZjJlNC00Y2QxLTlmYjUtNjI4ZGY3OWJlOThlIiwidCI6IjNiNmFjMTJhLTgwMDAtNGYwZS1iYmMyLWYwNzhiNTY0NGFlNiIsImMiOjEwfQ%3D%3D&pageName=cfe0ce6e0828dc2a2726"
                frameborder="0"
                allowFullScreen="true">
            </iframe>
          </div>
    </div>
  </div>
</div>
