# Database Configuration
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=root
DATABASE_NAME=st_pilot_ids_development
DATABASE_TEST_NAME=st_pilot_ids_test

# Redis Configuration (optional)
REDIS_URL=redis://redis:6379/0

# Rails Configuration
RAILS_ENV=development
RAILS_MAX_THREADS=5
SECRET_KEY_BASE=your_secret_key_base_here

# Application Configuration
APP_HOST=localhost
APP_PORT=3000
APP_LANDING_PAGE_URL=https://pilotids.com/

# Company Name
APP_COMPANY_NAME=OPM
APP_COMPANY_FULL_NAME=Organization Performance Management

# BI Dashboard
BI_DASHBOARD_URL=
