<nav aria-label="breadcrumb" class="mb-3 text-white p-3 rounded fs-5">
  <ol class="breadcrumb mb-0 fw-bold">
    <% breadcrumbs.each_with_index do |(text, url), index| %>
      <% if index == breadcrumbs.length - 1 %>
        <li class="breadcrumb-item breadcrumb-last text-white" aria-current="page"><%= text %></li>
      <% elsif url.present? %>
        <li class="breadcrumb-item"><%= link_to text, url, class: "text-decoration-none text-white" %></li>
      <% else %>
        <li class="breadcrumb-item text-white"><%= text %></li>
      <% end %>
    <% end %>
  </ol>
</nav>
